# LIBRAIRIES IMPORTATION

In [1]:
import pandas as pd
import numpy as np

import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio
import io
pio.renderers.default = "vscode"  # or "notebook"

import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
from IPython.display import display
from PIL import Image
pal = sns.color_palette()

from sklearn.preprocessing import  StandardScaler, LabelEncoder, OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier, VotingClassifier 
from sklearn.ensemble import BaggingRegressor, RandomForestRegressor, VotingRegressor
from sklearn.linear_model import LinearRegression, LogisticRegression, PoissonRegressor, SGDClassifier, SGDRegressor
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.metrics import accuracy_score, f1_score, confusion_matrix, ConfusionMatrixDisplay, RocCurveDisplay
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning) # to avoid deprecation warnings

 # File reading and basic exploration

In [2]:
# # Import dataset
# print("Loading dataset...")
# df = pd.read_csv("./assets/echantillon_df_10.csv")
# pd.set_option('display.max_columns', None)
# print("...Done.")
# print()

# Import dataset
print("Loading dataset...")
df = pd.read_csv("./assets/flights_usa_2019.csv")  # sep = ";"
pd.set_option('display.max_columns', None)
print("...Done.")
print()

Loading dataset...
...Done.

In [3]:
random_indices = np.random.choice(df.index, size=int(len(df)*0.1), replace=False)
df = df.loc[random_indices]

# Order by month
df = df.sort_values('MONTH')

In [4]:
# Basic stats
print("Number of rows : {}".format(df.shape[0]))
print()

print("Display of dataset: ")
display(df.head())
print()

print("Basics statistics: ")
data_desc = df.describe(include='all')
display(data_desc)
print()

print("Percentage of missing values: ")
display(100*df.isnull().sum()/df.shape[0])

Number of rows : 935155

Display of dataset:

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,DEST_AIRPORT_ID,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_TIME,DEP_DELAY_NEW,DEP_DEL15,DEP_TIME_BLK,CRS_ARR_TIME,ARR_TIME,ARR_DELAY_NEW,ARR_TIME_BLK,CANCELLED,CANCELLATION_CODE,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 32
477919,1,1,2,AA,N9677W,2297,12278,ICT,"Wichita, KS",11298,DFW,"Dallas/Fort Worth, TX",600,552.0,0.0,0.0,0600-0659,735,721.0,0.0,0700-0759,0.0,NaN,95.0,89.0,328.0,2,NaN,NaN,NaN,NaN,NaN,NaN
14315,1,7,1,WN,N7874B,1827,14107,PHX,"Phoenix, AZ",11292,DEN,"Denver, CO",1230,1226.0,0.0,0.0,1200-1259,1420,1407.0,0.0,1400-1459,0.0,NaN,110.0,101.0,602.0,3,NaN,NaN,NaN,NaN,NaN,NaN
402319,1,18,5,B6,N334JB,102,12478,JFK,"New York, NY",10792,BUF,"Buffalo, NY",1837,2017.0,100.0,1.0,1800-1859,2012,2201.0,109.0,2000-2059,0.0,NaN,95.0,104.0,301.0,2,100.0,0.0,9.0,0.0,0.0,NaN
356635,1,11,5,OO,N259SY,4027,10713,BOI,"Boise, ID",14869,SLC,"Salt Lake City, UT",900,858.0,0.0,0.0,0900-0959,1024,1018.0,0.0,1000-1059,0.0,NaN,84.0,80.0,290.0,2,NaN,NaN,NaN,NaN,NaN,NaN
325924,1,29,2,DL,N977DL,1778,10397,ATL,"Atlanta, GA",12278,ICT,"Wichita, KS",2009,2005.0,0.0,0.0,2000-2059,2134,2139.0,5.0,2100-2159,0.0,NaN,145.0,154.0,782.0,4,NaN,NaN,NaN,NaN,NaN,NaN

Basics statistics:

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,DEST_AIRPORT_ID,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_TIME,DEP_DELAY_NEW,DEP_DEL15,DEP_TIME_BLK,CRS_ARR_TIME,ARR_TIME,ARR_DELAY_NEW,ARR_TIME_BLK,CANCELLED,CANCELLATION_CODE,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 32
count,935155.000000,935155.000000,935155.000000,935155,932935,935155.000000,935155.000000,935155,935155,935155.000000,935155,935155,935155.000000,918301.000000,918300.000000,918300.00000,935155,935155.000000,917361.000000,915197.000000,935155,935155.000000,17495,935134.000000,915197.000000,935155.000000,935155.000000,175546.000000,175546.000000,175546.000000,175546.000000,175546.000000,0.0
unique,NaN,NaN,NaN,17,5853,NaN,NaN,360,352,NaN,360,352,NaN,NaN,NaN,NaN,19,NaN,NaN,NaN,19,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,WN,N483HA,NaN,NaN,ATL,"Chicago, IL",NaN,ATL,"Chicago, IL",NaN,NaN,NaN,NaN,0600-0659,NaN,NaN,NaN,2100-2159,NaN,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,171999,465,NaN,NaN,49589,53491,NaN,49993,53271,NaN,NaN,NaN,NaN,69533,NaN,NaN,NaN,59084,NaN,9042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,6.539261,15.745332,3.918582,NaN,NaN,2554.259215,12650.636674,NaN,NaN,12647.597195,NaN,NaN,1330.364027,1334.464129,14.298720,0.18865,NaN,1484.386401,1460.502912,14.327040,NaN,0.018708,NaN,141.734477,136.522751,800.609836,3.676524,21.091879,3.891749,16.931175,0.094386,27.612700,NaN
std,3.125920,8.779985,1.995633,NaN,NaN,1797.737418,1524.441845,NaN,NaN,1524.884829,NaN,NaN,493.761747,508.443395,48.033008,0.39123,NaN,522.376045,544.157442,47.715076,NaN,0.135492,NaN,72.266621,72.526898,592.686126,2.333522,65.479342,32.324025,40.963905,3.539018,53.249035,NaN
min,1.000000,1.000000,1.000000,NaN,NaN,1.000000,10135.000000,NaN,NaN,10135.000000,NaN,NaN,1.000000,1.000000,0.000000,0.00000,NaN,1.000000,1.000000,0.000000,NaN,0.000000,NaN,20.000000,16.000000,31.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
25%,4.000000,8.000000,2.000000,NaN,NaN,1025.000000,11292.000000,NaN,NaN,11292.000000,NaN,NaN,911.000000,913.000000,0.000000,0.00000,NaN,1100.000000,1044.000000,0.000000,NaN,0.000000,NaN,90.000000,84.000000,369.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
50%,7.000000,16.000000,4.000000,NaN,NaN,2154.000000,12889.000000,NaN,NaN,12889.000000,NaN,NaN,1320.000000,1326.000000,0.000000,0.00000,NaN,1514.000000,1501.000000,0.000000,NaN,0.000000,NaN,123.000000,118.000000,640.000000,3.000000,0.000000,0.000000,2.000000,0.000000,3.000000,NaN
75%,9.000000,23.000000,6.000000,NaN,NaN,3911.000000,13931.000000,NaN,NaN,13931.000000,NaN,NaN,1738.000000,1747.000000,7.000000,0.00000,NaN,1920.000000,1917.000000,7.000000,NaN,0.000000,NaN,171.000000,167.000000,1032.000000,5.000000,18.000000,0.000000,20.000000,0.000000,34.000000,NaN
max,12.000000,31.000000,7.000000,NaN,NaN,7880.000000,16869.000000,NaN,NaN,16869.000000,NaN,NaN,2359.000000,2400.000000,1912.000000,1.00000,NaN,2400.000000,2400.000000,1909.000000,NaN,1.000000,NaN,705.000000,726.000000,5095.000000,11.000000,1780.000000,1575.000000,1418.000000,1048.000000,1466.000000,NaN

Percentage of missing values:

MONTH                    0.000000
DAY_OF_MONTH             0.000000
DAY_OF_WEEK              0.000000
OP_UNIQUE_CARRIER        0.000000
TAIL_NUM                 0.237394
OP_CARRIER_FL_NUM        0.000000
ORIGIN_AIRPORT_ID        0.000000
ORIGIN                   0.000000
ORIGIN_CITY_NAME         0.000000
DEST_AIRPORT_ID          0.000000
DEST                     0.000000
DEST_CITY_NAME           0.000000
CRS_DEP_TIME             0.000000
DEP_TIME                 1.802268
DEP_DELAY_NEW            1.802375
DEP_DEL15                1.802375
DEP_TIME_BLK             0.000000
CRS_ARR_TIME             0.000000
ARR_TIME                 1.902786
ARR_DELAY_NEW            2.134192
ARR_TIME_BLK             0.000000
CANCELLED                0.000000
CANCELLATION_CODE       98.129187
CRS_ELAPSED_TIME         0.002246
ACTUAL_ELAPSED_TIME      2.134192
DISTANCE                 0.000000
DISTANCE_GROUP           0.000000
CARRIER_DELAY           81.228139
WEATHER_DELAY           81.228139
NAS_DELAY               81.228139
SECURITY_DELAY          81.228139
LATE_AIRCRAFT_DELAY     81.228139
Unnamed: 32            100.000000
dtype: float64

In [5]:
# columns to drop : Drop the columns with > 80% null values
df.drop(columns = ["CANCELLATION_CODE", "LATE_AIRCRAFT_DELAY" , "Unnamed: 32", "SECURITY_DELAY", "CARRIER_DELAY", "NAS_DELAY", "WEATHER_DELAY"], inplace = True)

In [6]:
df.isnull().any()

MONTH                  False
DAY_OF_MONTH           False
DAY_OF_WEEK            False
OP_UNIQUE_CARRIER      False
TAIL_NUM                True
OP_CARRIER_FL_NUM      False
ORIGIN_AIRPORT_ID      False
ORIGIN                 False
ORIGIN_CITY_NAME       False
DEST_AIRPORT_ID        False
DEST                   False
DEST_CITY_NAME         False
CRS_DEP_TIME           False
DEP_TIME                True
DEP_DELAY_NEW           True
DEP_DEL15               True
DEP_TIME_BLK           False
CRS_ARR_TIME           False
ARR_TIME                True
ARR_DELAY_NEW           True
ARR_TIME_BLK           False
CANCELLED              False
CRS_ELAPSED_TIME        True
ACTUAL_ELAPSED_TIME     True
DISTANCE               False
DISTANCE_GROUP         False
dtype: bool

In [7]:
# df.select_dtypes(exclude=["object", "int"]).count()
df.loc[:, df.isnull().any()].count()

TAIL_NUM               932935
DEP_TIME               918301
DEP_DELAY_NEW          918300
DEP_DEL15              918300
ARR_TIME               917361
ARR_DELAY_NEW          915197
CRS_ELAPSED_TIME       935134
ACTUAL_ELAPSED_TIME    915197
dtype: int64

In [8]:
# Drop the rest of the null rows

'''
Since, rest of the null values are very lest ~2%, it is better to drop these rows. 
But still to be sure, we can check the information loss.
'''

rows_after_dropping_null = df.dropna(axis=0).shape[0]
rows_before_dropping_null = df.shape[0]

perc_info_loss = (rows_before_dropping_null - rows_after_dropping_null)*100/rows_before_dropping_null
print("Percentage information loss after dropping null values is {:.3f}%".format(perc_info_loss))

Percentage information loss after dropping null values is 2.134%

In [9]:
# for col in df.select_dtypes(exclude=["object", "int"]).columns:
#     df[col] = df[col].fillna(method='ffill') # Attention car plusieurs compagnies
#     df[col] = df[col].fillna(method='bfill') #

# df.select_dtypes(exclude=["object", "int"]).isnull().any()

In [10]:
for col in df.loc[:, df.isnull().any()].iloc[:, 1:].columns:
    df[[col]] = df[[col]].apply(lambda x: x.fillna(x.median()))
    
df.loc[:, df.isnull().any()].count().any()

True

In [11]:
df.dropna(axis=0, inplace=True)
df.isnull().any()

MONTH                  False
DAY_OF_MONTH           False
DAY_OF_WEEK            False
OP_UNIQUE_CARRIER      False
TAIL_NUM               False
OP_CARRIER_FL_NUM      False
ORIGIN_AIRPORT_ID      False
ORIGIN                 False
ORIGIN_CITY_NAME       False
DEST_AIRPORT_ID        False
DEST                   False
DEST_CITY_NAME         False
CRS_DEP_TIME           False
DEP_TIME               False
DEP_DELAY_NEW          False
DEP_DEL15              False
DEP_TIME_BLK           False
CRS_ARR_TIME           False
ARR_TIME               False
ARR_DELAY_NEW          False
ARR_TIME_BLK           False
CANCELLED              False
CRS_ELAPSED_TIME       False
ACTUAL_ELAPSED_TIME    False
DISTANCE               False
DISTANCE_GROUP         False
dtype: bool

## Normalize dataset 

Let's normalize our dataset before going anywhere:

In [12]:
df["DEP_DELAY"] = df["DEP_DELAY_NEW"].apply(lambda x : 1 if x > 0 else 0)
df["ARR_DELAY"] = df["ARR_DELAY_NEW"].apply(lambda x : 1 if x > 0 else 0)
df.loc[:, ["DEP_DELAY_NEW", "ARR_DELAY_NEW"]] = df.select_dtypes(exclude = ["object"]).loc[:, ["DEP_DELAY_NEW", "ARR_DELAY_NEW"]]\
                                                  .apply(lambda x: np.where(x > 0, np.log(x), 0))

df.head()

d:\Projets\Jedha\Final-Project-Jedha\venv\lib\site-packages\pandas\core\arraylike.py:396: RuntimeWarning:

divide by zero encountered in log

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,DEST_AIRPORT_ID,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_TIME,DEP_DELAY_NEW,DEP_DEL15,DEP_TIME_BLK,CRS_ARR_TIME,ARR_TIME,ARR_DELAY_NEW,ARR_TIME_BLK,CANCELLED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,DISTANCE_GROUP,DEP_DELAY,ARR_DELAY
477919,1,1,2,AA,N9677W,2297,12278,ICT,"Wichita, KS",11298,DFW,"Dallas/Fort Worth, TX",600,552.0,0.00000,0.0,0600-0659,735,721.0,0.000000,0700-0759,0.0,95.0,89.0,328.0,2,0,0
14315,1,7,1,WN,N7874B,1827,14107,PHX,"Phoenix, AZ",11292,DEN,"Denver, CO",1230,1226.0,0.00000,0.0,1200-1259,1420,1407.0,0.000000,1400-1459,0.0,110.0,101.0,602.0,3,0,0
402319,1,18,5,B6,N334JB,102,12478,JFK,"New York, NY",10792,BUF,"Buffalo, NY",1837,2017.0,4.60517,1.0,1800-1859,2012,2201.0,4.691348,2000-2059,0.0,95.0,104.0,301.0,2,1,1
356635,1,11,5,OO,N259SY,4027,10713,BOI,"Boise, ID",14869,SLC,"Salt Lake City, UT",900,858.0,0.00000,0.0,0900-0959,1024,1018.0,0.000000,1000-1059,0.0,84.0,80.0,290.0,2,0,0
325924,1,29,2,DL,N977DL,1778,10397,ATL,"Atlanta, GA",12278,ICT,"Wichita, KS",2009,2005.0,0.00000,0.0,2000-2059,2134,2139.0,1.609438,2100-2159,0.0,145.0,154.0,782.0,4,0,1

In [13]:
# import math

# for index, row in df.iterrows():
#     df.at[index, 'CRS_DEP_TIME'] = math.floor(row['CRS_DEP_TIME'] / 100)

# Définir une fonction pour formater les valeurs en heures
def format_heure(valeur):
    heure = str(valeur // 100).zfill(2)
    minute = str(valeur % 100).zfill(2)
    return "{} h {}".format(heure, minute)

# Définir une fonction pour convertir en l'heure en minutes 
def format_minutes(format_heure):
    minutes = format_heure // 100 * 60 + format_heure % 100
    return minutes

# Appliquer la fonction à ces colonnes

df['DEP_TIME'] = df['DEP_TIME'].astype(int).apply(format_minutes)
df['ARR_TIME'] = df['ARR_TIME'].astype(int).apply(format_minutes)
df['CRS_DEP_TIME'] = df['CRS_DEP_TIME'].apply(format_minutes)
df['CRS_ARR_TIME'] = df['CRS_ARR_TIME'].apply(format_minutes)

# Afficher le DataFrame résultant
df.head()

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,DEST_AIRPORT_ID,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_TIME,DEP_DELAY_NEW,DEP_DEL15,DEP_TIME_BLK,CRS_ARR_TIME,ARR_TIME,ARR_DELAY_NEW,ARR_TIME_BLK,CANCELLED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,DISTANCE_GROUP,DEP_DELAY,ARR_DELAY
477919,1,1,2,AA,N9677W,2297,12278,ICT,"Wichita, KS",11298,DFW,"Dallas/Fort Worth, TX",360,352,0.00000,0.0,0600-0659,455,441,0.000000,0700-0759,0.0,95.0,89.0,328.0,2,0,0
14315,1,7,1,WN,N7874B,1827,14107,PHX,"Phoenix, AZ",11292,DEN,"Denver, CO",750,746,0.00000,0.0,1200-1259,860,847,0.000000,1400-1459,0.0,110.0,101.0,602.0,3,0,0
402319,1,18,5,B6,N334JB,102,12478,JFK,"New York, NY",10792,BUF,"Buffalo, NY",1117,1217,4.60517,1.0,1800-1859,1212,1321,4.691348,2000-2059,0.0,95.0,104.0,301.0,2,1,1
356635,1,11,5,OO,N259SY,4027,10713,BOI,"Boise, ID",14869,SLC,"Salt Lake City, UT",540,538,0.00000,0.0,0900-0959,624,618,0.000000,1000-1059,0.0,84.0,80.0,290.0,2,0,0
325924,1,29,2,DL,N977DL,1778,10397,ATL,"Atlanta, GA",12278,ICT,"Wichita, KS",1209,1205,0.00000,0.0,2000-2059,1294,1299,1.609438,2100-2159,0.0,145.0,154.0,782.0,4,0,1

In [14]:
# Get the list of all column names from headers
column_headers = df.columns.tolist()
print("The Column Header :", column_headers, f"\nTotal: {len(list(df.columns))} columns")

The Column Header : ['MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'OP_UNIQUE_CARRIER', 'TAIL_NUM', 'OP_CARRIER_FL_NUM', 'ORIGIN_AIRPORT_ID', 'ORIGIN', 'ORIGIN_CITY_NAME', 'DEST_AIRPORT_ID', 'DEST', 'DEST_CITY_NAME', 'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY_NEW', 'DEP_DEL15', 'DEP_TIME_BLK', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY_NEW', 'ARR_TIME_BLK', 'CANCELLED', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'DISTANCE', 'DISTANCE_GROUP', 'DEP_DELAY', 'ARR_DELAY']
Total: 28 columns

In [15]:
# Choose the columns you want to have as your features
features_list = ['MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'OP_UNIQUE_CARRIER', 'TAIL_NUM', 'OP_CARRIER_FL_NUM', 
                 'ORIGIN_AIRPORT_ID', 'ORIGIN', 'DEST_AIRPORT_ID', 'DEST', 'DEST_CITY_NAME', 
                 'CRS_DEP_TIME', 'DEP_TIME', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'DISTANCE', 
                 'DISTANCE_GROUP'
                ]

X = df.loc[:,features_list] # We add feature_list into our loc

Using <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.select_dtypes.html" target="_blank">`select_dtypes`</a> from Pandas, filter out all categorical variables.

In [16]:
df_num = X.select_dtypes(exclude = ["object"]); df_num.head()

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,DEST_AIRPORT_ID,CRS_DEP_TIME,DEP_TIME,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,DISTANCE_GROUP
477919,1,1,2,2297,12278,11298,360,352,95.0,89.0,328.0,2
14315,1,7,1,1827,14107,11292,750,746,110.0,101.0,602.0,3
402319,1,18,5,102,12478,10792,1117,1217,95.0,104.0,301.0,2
356635,1,11,5,4027,10713,14869,540,538,84.0,80.0,290.0,2
325924,1,29,2,1778,10397,12278,1209,1205,145.0,154.0,782.0,4

## ACP

Dans le sous-module `decomposition`, nous allons importer la fonction [`PCA()`](http://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html). Le fonctionnement de celle-ci est similaire à toutes les autres dans `scikit-learn`. 

1. On créé d'abord un objet (nommé ici `pca`) qui va contenir le résultat de l'ACP. Dans la fonction `PCA()`, on pourra aussi indiquer les paramètres tels que le nombre de composants à retenir (`n_components` - ici on garde tout).
2. Ensuite, on ajuste (*fit*  en anglais) sur des données avec la fonction `fit()` de l'objet précédemment créé. Dans cette fonction, nous devons donc passer les données à utiliser (variables uniquement quantitatives).

Si l'on souhaite une ACP normée (ce qui est notre cas ici), il nous faut standardiser les données en amont, avec par exemple la fonction `scale()` du sous-module `preprocessing` (importée aussi ici). Bien évidemment, il ne faut passer que des variables quantitatives, sans données manquantes.

In [17]:
# Import Standard Scaler
from sklearn.preprocessing import StandardScaler

# Initialize StandardScaler
# StandardScaler will substract mean and divide by standard deviation to each observation
sc = StandardScaler()

# Apply StandardScaler to X
X = sc.fit_transform(df_num)

# Visualize first five rows 
# Standard scaler transform X as numpy array. Therefore you can't use .head()
X[:5]

array([[-1.77333308, -1.67979903, -0.96163814, -0.14372574, -0.24439376,
        -0.88488484, -1.51131798, -1.52321183, -0.64618508, -0.65625343,
        -0.79688066, -0.71797481],
       [-1.77333308, -0.99628629, -1.46268217, -0.40514008,  0.95532045,
        -0.88881917, -0.19910032, -0.22072054, -0.43864192, -0.48930527,
        -0.33462805, -0.28946774],
       [-1.77333308,  0.25682039,  0.54149393, -1.3645863 , -0.11320576,
        -1.21667999,  1.03573014,  1.33631854, -0.64618508, -0.44756822,
        -0.8424311 , -0.71797481],
       [-1.77333308, -0.54061114,  0.54149393,  0.81850149, -1.27093982,
         1.45669719, -0.90567906, -0.90833015, -0.7983834 , -0.78146456,
        -0.86098869, -0.71797481],
       [-1.77333308,  1.50992708, -0.96163814, -0.43239391, -1.47821685,
        -0.24227762,  1.34527892,  1.29664876,  0.04562547,  0.24804915,
        -0.03095845,  0.13903933]])

In [18]:
# import PCA 
from sklearn.decomposition import PCA

# Instanciate PCA 
# We can even specify how many components we want within the class
pca = PCA()

# Fit pca to our model 
PC = pca.fit_transform(X)

# Visualize first five rows
PC[:5]

array([[-1.36599007e+00,  2.20431502e+00, -2.05903150e+00,
        -1.16220271e+00,  2.37413054e-01,  1.33954353e+00,
        -4.18127117e-01, -6.87021970e-02, -4.69843106e-02,
         4.71705695e-02,  1.93671066e-02, -8.49525743e-02],
       [-6.67855781e-01,  4.01397809e-01, -2.36826890e+00,
        -8.50343601e-02, -1.83516687e-01,  9.80963288e-01,
        -1.26453934e+00,  1.50020574e-01,  1.21662625e-01,
        -6.06677954e-02, -1.91702596e-02, -3.95320117e-04],
       [-1.11767216e+00, -1.61123051e+00, -6.47566265e-01,
        -6.44571069e-01, -1.20522100e+00,  1.03324171e+00,
        -1.17625380e+00, -1.67726777e+00, -3.77962963e-01,
        -8.41750876e-04, -5.94761343e-02, -1.31261588e-01],
       [-1.65177762e+00,  1.18327592e+00, -1.99051010e-01,
        -5.49962030e-01, -7.09636813e-01,  1.86796005e+00,
         1.93643453e+00,  2.40894755e-01,  7.88515526e-02,
        -4.63414792e-02, -6.89257248e-02, -5.67580406e-02],
       [ 1.54864938e-01, -1.92006754e+00, -9.05503908e-01,
        -1.19663227e+00, -2.49848185e+00, -1.69073691e-01,
         2.71137275e-01, -8.08027377e-02, -6.29158098e-02,
         8.31198671e-02, -1.50917333e-01, -8.89143312e-02]])

In [19]:
# Here are our eigen vectors
pca.components_

array([[-3.86204183e-03,  1.11069260e-03,  3.57438934e-03,
        -2.09851718e-01,  5.49310383e-02,  6.40326813e-02,
        -1.37398362e-02, -1.56474549e-02,  4.88100186e-01,
         4.82490072e-01,  4.89880143e-01,  4.87197174e-01],
       [ 1.52251378e-03, -6.59554732e-04, -7.77790625e-03,
         7.55430801e-03,  4.40223533e-02, -4.80696841e-02,
        -7.05485332e-01, -7.05371919e-01, -7.34578256e-03,
        -8.02641429e-03, -1.17180602e-02, -1.07808601e-02],
       [ 3.61768289e-01,  3.39048126e-01,  7.88701658e-01,
         3.43167192e-01, -7.79170085e-02, -4.37509689e-02,
        -3.87049596e-03, -4.65918961e-03,  4.40296948e-02,
         4.23055917e-02,  3.61603588e-02,  3.60305492e-02],
       [ 1.51287893e-01,  2.15878046e-01,  4.81639931e-03,
        -1.12318844e-01,  7.88975383e-01,  5.33160702e-01,
         6.94913313e-03,  7.50748754e-03, -6.10660530e-02,
        -6.06361655e-02, -4.55526298e-02, -3.92674217e-02],
       [ 5.62735416e-01, -8.09415332e-01,  8.18031486e-02,
         4.51026091e-02,  1.36716777e-01, -2.45959332e-02,
         5.55197175e-03,  5.99857948e-03,  6.72987009e-04,
        -4.99788101e-04,  6.32069113e-03,  6.76554505e-03],
       [-7.23458756e-01, -4.22025582e-01,  4.76806274e-01,
         1.40138042e-01,  1.74022457e-01,  1.45397770e-01,
        -3.09340903e-03, -1.02674980e-03,  4.89211916e-03,
         7.65508676e-03, -3.84812439e-04,  1.14488030e-03],
       [ 6.91124101e-02, -7.18002619e-02, -1.26910745e-02,
         1.07711334e-02, -5.51189926e-01,  8.25247324e-01,
        -4.46843891e-02, -4.47822438e-02, -5.50007209e-04,
         5.49939120e-04, -2.25418027e-02, -2.08986877e-02],
       [-3.61830297e-02,  5.10322878e-03, -3.78970818e-01,
         8.95725788e-01,  1.14742724e-01,  6.71324819e-02,
         3.60597496e-03,  7.91027157e-03,  1.05665370e-01,
         1.12726498e-01,  7.36842741e-02,  7.53069277e-02],
       [-7.24271573e-03, -9.24470884e-04, -5.37093299e-03,
         3.04058385e-02, -1.64498381e-02,  8.12541609e-03,
         4.00716911e-01, -4.05366440e-01, -1.10618073e-01,
        -6.14535428e-01,  2.71851433e-01,  4.58221957e-01],
       [ 3.62206059e-03, -5.19125907e-04,  2.64653546e-03,
        -1.72630501e-02,  1.24792796e-02, -4.94685011e-03,
         5.82503016e-01, -5.79363553e-01,  6.72167939e-02,
         4.29013938e-01, -1.79499595e-01, -3.22084366e-01],
       [ 6.59277875e-04, -3.14164558e-04,  2.29953470e-04,
        -7.62570789e-03,  9.43694761e-03, -1.04240312e-03,
         4.23876153e-03, -1.67792130e-03,  7.55099095e-01,
        -4.27158300e-01,  1.38987058e-01, -4.77361580e-01],
       [-1.72534998e-03,  2.31217507e-04, -1.18233091e-03,
         1.14736366e-02, -4.94898109e-03,  6.13782678e-03,
        -9.30198897e-03,  5.96587746e-03, -3.97388492e-01,
         6.88114688e-02,  7.90619508e-01, -4.60377894e-01]])

### Variance expliquée

L'objet `pca` comprend maintenant un certain nombre d'objets et de fonctions. Le premier objet est le tableau des variances expliquées (`explained_variance_` - proportionnelles aux valeurs propres) par chaque dimension, et le ratio (proportion) de variance expliquée par dimension (`explained_variance_ratio_`).

In [20]:
print(pca.explained_variance_)
print(pca.explained_variance_ratio_)

[4.08010685 1.95049612 1.04243661 0.99573373 0.99481532 0.99335021
 0.98143488 0.82656458 0.0559689  0.05124435 0.01829051 0.0095708 ]
[0.34000854 0.16254117 0.08686962 0.08297772 0.08290119 0.0827791
 0.08178615 0.06888031 0.00466407 0.00427036 0.00152421 0.00079757]

Bien évidemment, il est possible (et préférable) de faire un tableau récapitulatif, avec les variances expliquées, les proportions de variance expliquée simples et cumulées. Voici un petit code permettant de faire ceci.

In [21]:
eig = pd.DataFrame(
    {
        "Dimension" : ["Dim" + str(x + 1) for x in range(12)], 
        "Variance expliquée" : pca.explained_variance_,
        "% variance expliquée" : np.round(pca.explained_variance_ratio_ * 100, decimals=2),
        "% cum. var. expliquée" : np.round(np.cumsum(pca.explained_variance_ratio_ * 100), decimals=2)
    }
)
eig

   Dimension  Variance expliquée  % variance expliquée  % cum. var. expliquée
0       Dim1            4.080107                 34.00                  34.00
1       Dim2            1.950496                 16.25                  50.25
2       Dim3            1.042437                  8.69                  58.94
3       Dim4            0.995734                  8.30                  67.24
4       Dim5            0.994815                  8.29                  75.53
5       Dim6            0.993350                  8.28                  83.81
6       Dim7            0.981435                  8.18                  91.99
7       Dim8            0.826565                  6.89                  98.87
8       Dim9            0.055969                  0.47                  99.34
9      Dim10            0.051244                  0.43                  99.77
10     Dim11            0.018291                  0.15                  99.92
11     Dim12            0.009571                  0.08                 100.00

## Model I : Classification

In [22]:
 # Separate target variable Y from features X
## Choose the columns you want to have as your features

features_list = ['MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'OP_UNIQUE_CARRIER', 'OP_CARRIER_FL_NUM', 
                 'ORIGIN_AIRPORT_ID', 'ORIGIN', 'DEST_AIRPORT_ID', 'DEST', 
                 'DEST_CITY_NAME','CRS_DEP_TIME', 'CRS_ELAPSED_TIME', 
                 'DISTANCE', 
                ]

target = ['DEP_DELAY']

print("Splitting dataset into X and y...")
X = df.loc[:, features_list] # We add feature_list into our loc 
y = df.loc[:, target] # We set a target variable for the molel 
print("...Done.")

Splitting dataset into X and y...
...Done.

In [23]:
# Divide dataset Train set & Test set 
## First we import train_test_split


print("Splitting dataset into train set and test set...")
## Then we use train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, 
                                                          random_state=0,
                                                          stratify=y
                                                   )

print("...Done.")

Splitting dataset into train set and test set...
...Done.

In [24]:
y_train.value_counts()*100/len(y_train)

DEP_DELAY
0            65.838813
1            34.161187
Name: count, dtype: float64

In [25]:
X_train.head()

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,DEST_AIRPORT_ID,DEST,DEST_CITY_NAME,CRS_DEP_TIME,CRS_ELAPSED_TIME,DISTANCE
188991,1,30,3,EV,4098,12266,IAH,11267,DAY,"Dayton, OH",1110,157.0,929.0
511443,1,22,2,WN,16,10693,BNA,11433,DTW,"Detroit, MI",855,90.0,456.0
387326,1,8,2,WN,1766,14893,SMF,14057,PDX,"Portland, OR",395,90.0,479.0
4039418,6,2,7,AA,579,13158,MAF,11298,DFW,"Dallas/Fort Worth, TX",1096,86.0,309.0
7536622,10,26,6,MQ,3841,13303,MIA,10599,BHM,"Birmingham, AL",946,119.0,661.0

In [26]:
# Encoding categorical features and standardizing numeric features
print("#### X_train BEFORE preprocessing ####")
print(X_train.head())
print()

print("Encoding categorical features and standardizing numerical features...")
## First let's import libraries
## StandardScaler to scale data (i.e apply Z-score)
## OneHotEncoder to encode categorical variables


numeric_features = ["MONTH","DAY_OF_MONTH","DAY_OF_WEEK","CRS_DEP_TIME","CRS_ELAPSED_TIME","DISTANCE"] # Choose which column index we are going to scale
numeric_transformer = StandardScaler()


categorical_features = ["ORIGIN","DEST"]
categorical_transformer = OneHotEncoder(drop='first', handle_unknown = 'ignore')   # drop='first', handle_unknown = 'ignore'

# Apply ColumnTransformer to create a pipeline that will apply the above preprocessing
feature_encoder = ColumnTransformer(
    transformers=[
        ('cat', categorical_transformer, categorical_features),    
        ('num', numeric_transformer, numeric_features)
        ]
    )

X_train = feature_encoder.fit_transform(X_train)
print("...Done.")
print("#### X_train AFTER preprocessing ####")
print(X_train[0:5,:]) # print first 5 rows (not using iloc since now X_train became a numpy array)
print()

#### X_train BEFORE preprocessing ####
         MONTH  DAY_OF_MONTH  DAY_OF_WEEK OP_UNIQUE_CARRIER
188991       1            30            3                EV  \
511443       1            22            2                WN
387326       1             8            2                WN
4039418      6             2            7                AA
7536622     10            26            6                MQ

         OP_CARRIER_FL_NUM  ORIGIN_AIRPORT_ID ORIGIN  DEST_AIRPORT_ID DEST
188991                4098              12266    IAH            11267  DAY  \
511443                  16              10693    BNA            11433  DTW
387326                1766              14893    SMF            14057  PDX
4039418                579              13158    MAF            11298  DFW
7536622               3841              13303    MIA            10599  BHM

                DEST_CITY_NAME  CRS_DEP_TIME  CRS_ELAPSED_TIME  DISTANCE
188991              Dayton, OH          1110             157.0     929.0
511443             Detroit, MI           855              90.0     456.0
387326            Portland, OR           395              90.0     479.0
4039418  Dallas/Fort Worth, TX          1096              86.0     309.0
7536622         Birmingham, AL           946             119.0     661.0

Encoding categorical features and standardizing numerical features...
...Done.
#### X_train AFTER preprocessing ####
  (0, 163)	1.0
  (0, 448)	1.0
  (0, 718)	-1.772134628546775
  (0, 719)	1.6249805547873177
  (0, 720)	-0.46080581990778197
  (0, 721)	1.0118221265991287
  (0, 722)	0.21276941368651928
  (0, 723)	0.21817990794250794
  (1, 43)	1.0
  (1, 459)	1.0
  (1, 718)	-1.772134628546775
  (1, 719)	0.7134499541764866
  (1, 720)	-0.9618423938210355
  (1, 721)	0.15424270275409951
  (1, 722)	-0.7147902349051567
  (1, 723)	-0.5803137931419342
  (2, 319)	1.0
  (2, 615)	1.0
  (2, 718)	-1.772134628546775
  (2, 719)	-0.8817285968924677
  (2, 720)	-0.9618423938210355
  (2, 721)	-1.3927633167310511
  (2, 722)	-0.7147902349051567
  (2, 723)	-0.5414864038714434
  (3, 206)	1.0
  (3, 452)	1.0
  (3, 718)	-0.1729308897956694
  (3, 719)	-1.565376547350591
  (3, 720)	1.5433404757452325
  (3, 721)	0.9647393347017545
  (3, 722)	-0.7701669303434657
  (3, 723)	-0.8284714550011584
  (4, 219)	1.0
  (4, 394)	1.0
  (4, 718)	1.1064321012052152
  (4, 719)	1.169215254481902
  (4, 720)	1.0423039018319789
  (4, 721)	0.4602808500870315
  (4, 722)	-0.3133091929774164
  (4, 723)	-0.23424358442668974

In [27]:
### Testing pipeline ###
print("--- Testing pipeline ---")

# Standardizing numeric features
print("Standardizing numerical features...")
print(X_test)
print()

X_test = feature_encoder.transform(X_test)

print("...Done.")
print(X_test[:5]) # print first 5 rows (not using iloc since now X_test became a numpy array)
print()

--- Testing pipeline ---
Standardizing numerical features...
         MONTH  DAY_OF_MONTH  DAY_OF_WEEK OP_UNIQUE_CARRIER
2470697      4             4            4                AA  \
1094611      2            17            7                DL
5604868      7            31            3                DL
6411470      8            18            7                WN
3939215      6             9            7                OH
...        ...           ...          ...               ...
8217725     11             6            3                AA
2624193      4            15            1                DL
4197121      6            10            1                DL
2892144      4            21            7                AA
1354214      3            29            5                MQ

         OP_CARRIER_FL_NUM  ORIGIN_AIRPORT_ID ORIGIN  DEST_AIRPORT_ID DEST
2470697               2755              14747    SEA            11298  DFW  \
1094611               1449              15624    VPS            10397  ATL
5604868               2126              14057    PDX            11433  DTW
6411470               4067              13891    ONT            14893  SMF
3939215               5530              11278    DCA            14730  SDF
...                    ...                ...    ...              ...  ...
8217725               2470              13930    ORD            11292  DEN
2624193                440              10397    ATL            14635  RSW
4197121                343              12953    LGA            13930  ORD
2892144               1104              11298    DFW            14908  SNA
1354214               3600              10408    ATW            13930  ORD

                DEST_CITY_NAME  CRS_DEP_TIME  CRS_ELAPSED_TIME  DISTANCE
2470697  Dallas/Fort Worth, TX           837             237.0    1660.0
1094611            Atlanta, GA           360              73.0     250.0
5604868            Detroit, MI          1375             254.0    1953.0
6411470         Sacramento, CA          1130              70.0     390.0
3939215         Louisville, KY           600             105.0     474.0
...                        ...           ...               ...       ...
8217725             Denver, CO           600             165.0     888.0
2624193         Fort Myers, FL           767              97.0     515.0
4197121            Chicago, IL           730             165.0     733.0
2892144          Santa Ana, CA           465             195.0    1205.0
1354214            Chicago, IL          1085              74.0     160.0

[279881 rows x 13 columns]

...Done.
  (0, 306)	1.0
  (0, 452)	1.0
  (0, 718)	-0.8126123852961117
  (0, 719)	-1.3374938971978834
  (0, 720)	0.04023075400547162
  (0, 721)	0.09370768460033274
  (0, 722)	1.3203033224526997
  (0, 723)	1.4522156278002822
  (1, 352)	1.0
  (1, 379)	1.0
  (1, 718)	-1.452293880796554
  (1, 719)	0.14374332879471718
  (1, 720)	1.5433404757452325
  (1, 721)	-1.5104702964744865
  (1, 722)	-0.9501411905179701
  (1, 723)	-0.9280721492167653
  (2, 256)	1.0
  (2, 459)	1.0
  (2, 718)	0.14690985795455172
  (2, 719)	1.7389218798636714
  (2, 720)	-0.46080581990778197
  (2, 721)	1.9030321160851396
  (2, 722)	1.555654278065513
  (2, 723)	1.946842804159144
  (3, 245)	1.0
  (3, 678)	1.0
  (3, 718)	0.46675060570477284
  (3, 719)	0.2576846538710711
  (3, 720)	1.5433404757452325
  (3, 721)	1.0790832578810918
  (3, 722)	-0.9916737120967019
  (3, 723)	-0.6917315188746471
  (4, 91)	1.0
  (4, 664)	1.0
  (4, 718)	-0.1729308897956694
  (4, 719)	-0.7677872718161138
  (4, 720)	1.5433404757452325
  (4, 721)	-0.7033367210909297
  (4, 722)	-0.5071276270114979
  (4, 723)	-0.5499271406693762

In [28]:
# # Train model
# print("Train model...")
# # This code creates a Logistic Regression classifier object and then fits it to the training data 
# # (X_train and Y_train). The print statement is simply a notification that the fitting process is complete.
# classifier = LogisticRegression(solver='liblinear', max_iter=1000) # 'liblinear' plus adapté sur la classif binaire
# classifier.fit(X_train, y_train.values.ravel())
# print("...Done.")

# Train models using different classifiers and print their performance score
sgdc = SGDClassifier(random_state=0)
dtc = DecisionTreeClassifier(random_state=0)
knc = KNeighborsClassifier(n_neighbors=2)

# Let's see what we get with the wisdom of the crowd
vc = VotingClassifier([('SGD', sgdc), 
                            ('Tree', dtc), 
                            ('KNN', knc)], voting = 'hard')

for model in (sgdc, knc, dtc,  vc):
    model.fit(X_train, y_train.values.ravel())
    print(model.__class__.__name__, model.score(X_test, y_test.values.ravel()))

SGDClassifier 0.6595696027954738
KNeighborsClassifier 0.654885469181545
DecisionTreeClassifier 0.6184735655510735
VotingClassifier 0.6661938466705493

**Bagging**

In [35]:
model = BaggingClassifier(base_estimator = KNeighborsClassifier)

In [30]:
# # Predictions on training set
# print("Predictions on training set...")
# y_train_pred = classifier.predict(X_train)
# print("...Done.")
# print(y_train_pred[:5]) # print first 5 rows (not using iloc since now y_train became a numpy array)
# print()

In [31]:
# # Predictions on test set
# print("Predictions on test set...")
# y_test_pred = classifier.predict(X_test)
# print("...Done.")
# print(y_test_pred[:5])
# print()

In [32]:
# # Print scores
# print("accuracy on training set : ", accuracy_score(y_train, y_train_pred))
# print("accuracy on test set : ", accuracy_score(y_test, y_test_pred))
# print()

# print("f1-score on training set : ", f1_score(y_train, y_train_pred))
# print("f1-score on test set : ", f1_score(y_test, y_test_pred))
# print()

In [33]:
# # You can also check more performance metrics to better understand what your model is doing
# print("Confusion matrix on train set : ")
# print(confusion_matrix(y_train, y_train_pred))
# print()
# print("Confusion matrix on test set : ")
# print(confusion_matrix(y_test, y_test_pred))
# print()

## Model II : GLM (Poisson Regression)

In [36]:
 # Separate target variable Y from features X
## Choose the columns you want to have as your features
features_list = ['MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'OP_UNIQUE_CARRIER', 'TAIL_NUM', 'OP_CARRIER_FL_NUM', 
                 'ORIGIN_AIRPORT_ID', 'ORIGIN', 'ORIGIN_CITY_NAME_x', 'DEST_AIRPORT_ID', 'DEST', 
                 'DEST_CITY_NAME','CRS_DEP_TIME', 'DEP_TIME', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 
                 'DISTANCE', 'DISTANCE_GROUP', 'DISPLAY_AIRPORT_NAME', 'NAME'
                ]

target = ['DEP_DELAY_NEW']

print("Splitting dataset into X and y...")
X = df.loc[:, features_list] # We add feature_list into our loc 
y = df.loc[:, target] # We set a target variable for the molel 
print("...Done.")

Splitting dataset into X and y...

KeyError: "['ORIGIN_CITY_NAME_x', 'DISPLAY_AIRPORT_NAME', 'NAME'] not in index"

In [ ]:
# Divide dataset Train set & Test set 
## First we import train_test_split


print("Splitting dataset into train set and test set...")
## Then we use train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, 
                                                          random_state=0
                                                   )

print("...Done.")

Splitting dataset into train set and test set...
...Done.

In [ ]:
# Encoding categorical features and standardizing numeric features
print("#### X_train BEFORE preprocessing ####")
print(X_train.head())
print()

print("Encoding categorical features and standardizing numerical features...")
## First let's import libraries
## StandardScaler to scale data (i.e apply Z-score)
## OneHotEncoder to encode categorical variables


numeric_features = ["MONTH","DAY_OF_MONTH","DAY_OF_WEEK","CRS_DEP_TIME","DEP_TIME","CRS_ELAPSED_TIME","ACTUAL_ELAPSED_TIME","DISTANCE"] # Choose which column index we are going to scale
numeric_transformer = StandardScaler()


categorical_features = ["ORIGIN","DEST"]
categorical_transformer = OneHotEncoder(drop='first', handle_unknown = 'ignore')   # drop='first', handle_unknown = 'ignore'

# Apply ColumnTransformer to create a pipeline that will apply the above preprocessing
feature_encoder = ColumnTransformer(
    transformers=[
        ('cat', categorical_transformer, categorical_features),    
        ('num', numeric_transformer, numeric_features)
        ]
    )

X_train = feature_encoder.fit_transform(X_train)
print("...Done.")
print("#### X_train AFTER preprocessing ####")
print(X_train[0:5,:]) # print first 5 rows (not using iloc since now X_train became a numpy array)
print()

#### X_train BEFORE preprocessing ####
        MONTH  DAY_OF_MONTH  DAY_OF_WEEK OP_UNIQUE_CARRIER TAIL_NUM  \
166518      7            26            5                DL   N713TW
364784      1             4            5                G4    314NV
434001      5             3            5                AA   N771AN
95693       9            26            4                DL   N345DN
228223      4            12            5                DL   N106DU

        OP_CARRIER_FL_NUM  ORIGIN_AIRPORT_ID ORIGIN     ORIGIN_CITY_NAME_x  \
166518                520              12478    JFK           New York, NY
364784                705              14679    SAN          San Diego, CA
434001                102              12173    HNL           Honolulu, HI
95693                2201              11433    DTW            Detroit, MI
228223               2500              11298    DFW  Dallas/Fort Worth, TX

        DEST_AIRPORT_ID DEST         DEST_CITY_NAME  CRS_DEP_TIME  DEP_TIME  \
166518            14771  SFO      San Francisco, CA          1135      1199
364784            10666  BLI         Bellingham, WA           687       687
434001            11298  DFW  Dallas/Fort Worth, TX          1185      1181
95693             14100  PHL       Philadelphia, PA          1340      1338
228223            12953  LGA           New York, NY          1020      1104

        CRS_ELAPSED_TIME  ACTUAL_ELAPSED_TIME  DISTANCE  DISTANCE_GROUP  \
166518             435.0                402.0    2586.0              11
364784             175.0                163.0    1142.0               5
434001             444.0                417.0    3784.0              11
95693               97.0                 78.0     453.0               2
228223             215.0                218.0    1389.0               6

                        DISPLAY_AIRPORT_NAME  \
166518         John F. Kennedy International
364784  San Diego International Lindbergh Fl
434001            Hollywood-Burbank Midpoint
95693             Detroit Metro Wayne County
228223            Dallas Fort Worth Regional

                                            NAME
166518                  LAGUARDIA AIRPORT, NY US
364784    SAN DIEGO INTERNATIONAL AIRPORT, CA US
434001  LOS ANGELES INTERNATIONAL AIRPORT, CA US
95693               DETROIT METRO AIRPORT, MI US
228223           FORT WORTH MEACHAM FIELD, TX US

Encoding categorical features and standardizing numerical features...
...Done.
#### X_train AFTER preprocessing ####
  (0, 38)	1.0
  (0, 399)	1.0
  (0, 446)	0.14775577273318477
  (0, 447)	1.1672875450808762
  (0, 448)	0.5416645100842793
  (0, 449)	1.0665166075873485
  (0, 450)	1.2470341385131245
  (0, 451)	3.9284757102243137
  (0, 452)	3.5738169592194287
  (0, 453)	2.906935670255155
  (1, 77)	1.0
  (1, 136)	1.0
  (1, 446)	-1.7701043608072144
  (1, 447)	-1.3415722981125213
  (1, 448)	0.5416645100842793
  (1, 449)	-0.4382621480530359
  (1, 450)	-0.4401082765362994
  (1, 451)	0.3989275960369411
  (1, 452)	0.3140433948420002
  (1, 453)	0.5123278026519895
  (2, 32)	1.0
  (2, 188)	1.0
  (2, 446)	-0.49153093844694834
  (2, 447)	-1.4556113818940395
  (2, 448)	0.5416645100842793
  (2, 449)	1.2344606651364984
  (2, 450)	1.1877205379840432
  (2, 451)	4.050652375715415
  (2, 452)	3.7784052582389327
  (2, 453)	4.893597876202934
  (3, 23)	1.0
  (3, 352)	1.0
  (3, 446)	0.7870424839133179
  (3, 447)	1.1672875450808762
  (3, 448)	0.04026005780962889
  (3, 449)	1.7550872435388636
  (3, 450)	1.705066942598808
  (3, 451)	-0.6599368382192706
  (3, 452)	-0.8452902996018551
  (3, 453)	-0.630251713122651
  (4, 21)	1.0
  (4, 289)	1.0
  (4, 446)	-0.8111742940370149
  (4, 447)	-0.42925962786037686
  (4, 448)	0.5416645100842793
  (4, 449)	0.6802452752243033
  (4, 450)	0.9339901357207511
  (4, 451)	0.9419349982196138
  (4, 452)	1.0642004912468477
  (4, 453)	0.9219317800051625

In [ ]:
### Testing pipeline ###
print("--- Testing pipeline ---")

# Standardizing numeric features
print("Standardizing numerical features...")
print(X_test)
print()

X_test = feature_encoder.transform(X_test)

print("...Done.")
print(X_test[:5]) # print first 5 rows (not using iloc since now X_test became a numpy array)
print()

In [ ]:
# # Train model
# print("Train model...")
# # This code creates a Logistic Regression classifier object and then fits it to the training data 
# # (X_train and Y_train). The print statement is simply a notification that the fitting process is complete.
# regressor = LinearRegression() # This steps is the actual training !
# regressor.fit(X_train, y_train.values.ravel()) # .values.ravel()
# print("...Done.")

# Train models using different regressors and print their performance score
model_1 = SGDRegressor(random_state=0)
model_2 = DecisionTreeRegressor(random_state=0)
model_3 = KNeighborsRegressor(n_neighbors=2)

# Let's see what we get with the wisdom of the crowd
model_4 = VotingRegressor([('SGD', model_1), 
                            ('Tree', model_2), 
                            ('KNN', model_3)],
                            voting = 'mean')

for model in (model_1, model_2, model_3, model_4):
    model.fit(X_train, y_train.values.ravel())
    print(model.__class__.__name__, model.score(X_test, y_test.values.ravel()))

Train model...
...Done.

In [ ]:
# # Predictions on training set
# print("Predictions on training set...")
# y_train_pred = regressor.predict(X_train)
# print("...Done.")
# print(y_train_pred[:5]) # print first 5 rows (not using iloc since now y_train became a numpy array)
# print()

Predictions on training set...
...Done.
[1.47846423 0.88514098 1.54095205 1.33061533 1.22666811]

In [ ]:
# # Predictions on test set
# print("Predictions on test set...")
# y_test_pred = regressor.predict(X_test)
# print("...Done.")
# print(y_test_pred[:5])
# print()

--- Testing pipeline ---
Standardizing numerical features...
        MONTH  DAY_OF_MONTH  DAY_OF_WEEK OP_UNIQUE_CARRIER TAIL_NUM  \
153504      4            14            7                DL   N380DA
544804      2            27            3                AA   N960NN
233141      1             2            3                NK   N625NK
84813       8             9            5                AS   N428AS
54387       3            10            7                NK   N502NK
...       ...           ...          ...               ...      ...
485526      5             7            2                WN   N910WN
494429      8            19            1                NK   N690NK
759247      8             5            1                DL   N596NW
438190      4            29            1                B6   N266JB
615959      7             2            2                WN   N729SW

        OP_CARRIER_FL_NUM  ORIGIN_AIRPORT_ID ORIGIN  \
153504                913              14027    PBI
544804               2340              14100    PHL
233141                976              11292    DEN
84813                 357              14771    SFO
54387                 805              10397    ATL
...                   ...                ...    ...
485526               1229              14107    PHX
494429                242              10397    ATL
759247               1556              14869    SLC
438190                482              14635    RSW
615959                404              14831    SJC

                    ORIGIN_CITY_NAME_x  DEST_AIRPORT_ID DEST  \
153504  West Palm Beach/Palm Beach, FL            10397  ATL
544804                Philadelphia, PA            11298  DFW
233141                      Denver, CO            11433  DTW
84813                San Francisco, CA            14747  SEA
54387                      Atlanta, GA            12889  LAS
...                                ...              ...  ...
485526                     Phoenix, AZ            14679  SAN
494429                     Atlanta, GA            11042  CLE
759247              Salt Lake City, UT            10397  ATL
438190                  Fort Myers, FL            11278  DCA
615959                    San Jose, CA            14679  SAN

               DEST_CITY_NAME  CRS_DEP_TIME  DEP_TIME  CRS_ELAPSED_TIME  \
153504            Atlanta, GA           480       854             112.0
544804  Dallas/Fort Worth, TX           300       296             231.0
233141            Detroit, MI          1185      1206             164.0
84813             Seattle, WA           935       927             135.0
54387           Las Vegas, NV          1140      1138             279.0
...                       ...           ...       ...               ...
485526          San Diego, CA           695       815              65.0
494429          Cleveland, OH           525       523             106.0
759247            Atlanta, GA           765       765             220.0
438190         Washington, DC          1071      1065             144.0
615959          San Diego, CA           965       963              80.0

        ACTUAL_ELAPSED_TIME  DISTANCE  DISTANCE_GROUP  \
153504                143.0     545.0               3
544804                227.0    1303.0               6
233141                169.0    1123.0               5
84813                 107.0     679.0               3
54387                 291.0    1747.0               7
...                     ...       ...             ...
485526                122.0     304.0               2
494429                115.0     554.0               3
759247                210.0    1590.0               7
438190                135.0     892.0               4
615959                 76.0     417.0               2

                    DISPLAY_AIRPORT_NAME  \
153504          Palm Beach International
544804        Philadelphia International
233141           Stapleton International
84813        San Francisco International
54387                  Atlanta Municipal
...                                  ...
485526  Phoenix Sky Harbor International
494429                 Atlanta Municipal
759247      Salt Lake City International
438190   Southwest Florida International
615959            San Jose International

                                                     NAME
153504       WEST PALM BEACH INTERNATIONAL AIRPORT, FL US
544804          PHILADELPHIA INTERNATIONAL AIRPORT, PA US
233141                DENVER INTERNATIONAL AIRPORT, CO US
84813          SAN FRANCISCO INTERNATIONAL AIRPORT, CA US
54387   ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...
...                                                   ...
485526                             PHOENIX AIRPORT, AZ US
494429  ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...
759247        SALT LAKE CITY INTERNATIONAL AIRPORT, UT US
438190      FORT MYERS SW FLORIDA REGIONAL AIRPORT, FL US
615959              SAN JOSE INTERNATIONAL AIRPORT, CA US

[253382 rows x 20 columns]

...Done.
  (0, 63)	1.0
  (0, 116)	1.0
  (0, 446)	-0.8111742940370149
  (0, 447)	-0.2011814602973407
  (0, 448)	1.5444734146335801
  (0, 449)	-1.1335505463065172
  (0, 450)	0.11019012837239944
  (0, 451)	-0.4563090624007684
  (0, 452)	0.0412589961493284
  (0, 453)	-0.4776866689263275
  (1, 65)	1.0
  (1, 188)	1.0
  (1, 446)	-1.450461005217148
  (1, 447)	1.2813266288623941
  (1, 448)	-0.46114439446502153
  (1, 449)	-1.7381491534834572
  (1, 450)	-1.7285314880291212
  (1, 451)	1.159137959092683
  (1, 452)	1.18695347065855
  (1, 453)	0.7793166299955557
  (2, 20)	1.0
  (2, 195)	1.0
  (2, 446)	-1.7701043608072144
  (2, 447)	-1.5696504656755574
  (2, 448)	-0.46114439446502153
  (2, 449)	1.2344606651364984
  (2, 450)	1.2701005387188784
  (2, 451)	0.24960056043670611
  (2, 452)	0.39587871444980177
  (2, 453)	0.48081980439405314
  (3, 83)	1.0
  (3, 397)	1.0
  (3, 446)	0.4673991283232513
  (3, 447)	-0.771376879204931
  (3, 448)	0.5416645100842793
  (3, 449)	0.3947403773907483
  (3, 450)	0.3507397305181181
  (3, 451)	-0.1440798061457316
  (3, 452)	-0.4497529214974809
  (3, 453)	-0.2554723654229866
  (4, 2)	1.0
  (4, 278)	1.0
  (4, 446)	-1.1308176496270814
  (4, 447)	-0.657337795423413
  (4, 448)	1.5444734146335801
  (4, 449)	1.0833110133422634
  (4, 450)	1.046026936720127
  (4, 451)	1.8107468417118902
  (4, 452)	2.0598635464751
  (4, 453)	1.5156087998125956

Predictions on test set...
...Done.
[0.86623317 0.67509921 1.31634509 1.00622571 1.33128905]

In [ ]:
# # Performance assessment
# print("--- Assessing the performances of the model ---")

# # Print R^2 scores
# print("D² the deviance of GLM on training set : ", regressor.score(X_train, y_train.values.ravel()))
# print("D² the deviance of GLM on test set : ", regressor.score(X_test, y_test.values.ravel()))

--- Assessing the performances of the model ---
D² the deviance of GLM on training set :  0.04780535995495472
D² the deviance of GLM on test set :  0.048515045088213804